
/* button {
    margin-top: 72px;
    padding: 5px 10px;
    background-color: #0065d0;
    color: #ffffff;
    border: none;
    cursor: pointer;
  } */
  .grade{
    margin-top: 90px;
  }
  ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.css-dev-only-do-not-override-k7429z {
    font-family: 'Archivo Narrow', sans-serif;
    /* margin-top: 72px;   */
  }