body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 0 10px 0 10px;
  /* margin-top: 20px; */
  /* border-bottom: 1px solid; */
}

/* nav .login a{
  color: green;
  margin-left: auto;
} */

nav ul{
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
}
nav li {
  padding: 20px;
  position: relative;
  margin-right: 10px;
 }
 
 nav a {
   color: #ffffff;
   text-decoration: none;
   font-size: 14px;
   font-family: Open Sans;
   font-weight: bold;
 }

 nav li:after{
   content:'';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0;
   height: 3px;
   background-color: rgb(160, 160, 40);
   transition: 1s;
 }
 nav li:hover::after{
 
   width: 100%;
 }

 .logo{
  display: flex;
  align-items: center;
 }
 .logo img{
  height: 72px;
  width: auto;
  margin-right: 10px;

 }



 .carousel {
  height: 561px;
    background: #d1cbcb;
    padding: 0 10px 10px 10px;
    background-color: #000000;
 }
 .carousel-control-next{
  /* height: 561px; */
  padding-bottom: 50px;
 }
 
 .carousel-item img{
  height: 561px;
  width: 100%;
 }

 /* .leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom {
  height: 100px;
  width: 100px;
 } */

 .leaflet-tile-container{
  width: 100%;
  /* margin-right: 100px; */
 }

.leaflet-container{
  height: 700px;
  margin: 30px 500px 30px 10px;
}

.post {
  margin: 0 20px 20px 20px;
  padding: 10px;
  border: 1px solid #ccc;

}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

h1{
  text-align: center;
  color: #007bff;
  padding-top: 40px;
}
.ant-form {
  /* justify-content: center; */
  /* position: absolute;
  padding: auto; */
  /* top: 50%; */
  /* left: 50%;
  transform: translate(-50%, -50%); */
  /* align-items: center; */
  /* margin-top: 200px; */
  /* width: 1200px; */

  margin: 0 auto;
}


.ant-col {
  margin: 0 auto;
}

.login-form {
  max-width: 300px;
}
 .login-form-forgot {
  float: right;
}
 .ant-col-rtl .login-form-forgot {
  float: left;
}
 .login-form-button {
  width: 100%;
}




/* .app {
  text-align: center;
}

.class {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: background-color 0.3s;
}

.class.hovered {
  background-color: #ccc;
}

.lesson-list {
  display: none;
}

.class.hovered .lesson-list {
  display: block;
} */

/* .ant-menu .ul{
  width: 100px;
  background-color: #000000;
} */


 .footer{
  background-color: #c3c3c3;
  text-align: center;
  color: #000000;
  padding: 10px;
  margin-top: 20px;
  
 }
 .footer h5{
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }




 body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.post-container{
  min-height: 100px;
  overflow: hidden;
  display: inline-block;
  
}

.post{
  border: solid 1px;
  display: inline-block;
}

.post-element{
  border: solid 1px;
  margin: 50px;
}

.post-info{
  display: inline-block;
  width: 100%;
  border: solid 1px;
}

.post-author-avatar{
  width: 50px;
  border-radius: 50%;
  float: left;
}


.post-author-name{
  display: inline;
  float: left;
  margin: 15px 0 0 5px;
}

.post-content{
  font-size: 90%;
  margin: 0 5px;
}

.time{
  display: inline;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 70%;
  margin: 25px 20px 0 0;
}

.post-action{
  text-align: center;
}

.comment-button, .report-button{
  border: none;
  font-size: 120%;
  margin: 0 100px;
  display: inline-block;
  background-color: #FFF;
}

.comment-button{
  width: 100px;
  display: inline;
  text-align: start;
}

.report-button{
  width: 100px;
}

.comment-button:hover, .report-button:hover{
  background-color: aquamarine;
}